body {
    vertical-align: top;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
    font-size: 1em;
    font-weight: 500;
    border-style: solid;
    border-width: medium;
}

h1{
    font-family:"lato",sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {background-color:#dbc2a4 ;
    font-family:"lato",sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
    padding: 0px 30px 0px 0px;
    text-indent: 20px;
    margin-right: 20px;
    font-weight: 900;
}

#profil {
    display: flex;
    flex-direction: row;
    width: 170px;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    cursor: zoom-in;
    box-shadow:  -2px 1px 30px 2px #dbc2a4, 2px 2px 30px 2px #000 ;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 1160px;
    color: white;
    font-size: 1em;
    background-color:#782221 ;
}
header p {
    font-size: 1.6em;
    font-weight: 500;
    font-family:"lato",sans-serif
}

address {display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
    height: 80px;
    align-items: center;
    background-color:#2c1d27 ;
} A{text-decoration: none;}

main {
    display: flex;
    flex-direction:row;
    justify-content: center;
    justify-content: space-between;
    height: auto;
}
#Section1 {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 1100px;
    margin-left: 0%;
    margin-right: 0px;
    text-align: justify;
    color: white;
    background-color:#782221;
}
#Section2 {
    display: flex;
    flex-direction: column;
    width: 724px;
    height: 1100px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0px 0px 0px;
}
#Section2 :hover{
    color: #6D071A;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 1160px;
    background-color:#782221;
}

#p1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}
#p2 {text-indent: 100px;
    padding: 0px 20px 0px 20px;
}
h3 {font-size: 1em;
    font-weight: 900;
}